/* Navbar.module.css */

/* Colors:
    - primary: #001845
    - background: #979DAC

    - text: #FFFFFF

    - accent: #0466C8
    - border: #023E7D
*/


.navbar {
    width: 100%;
    z-index: 10;
  }
  
  .navbarWrapper {
    display: flex;
    justify-content: space-between;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    position: sticky;
    top: 0;
    background-color: #001845; 
    color: white;
    padding: 0.2rem 0;
  }

  .logoText {
    margin-left: 2rem;
    font-size: 2rem; 
    font-weight: bold;
    color: white;
    text-decoration: uppercase;
    font-family: monospace;
  }

  .authLinksContainer {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1.5rem;
    width: 30%;
  }

  .authLink {
    position: relative;
    z-index: 10;
    cursor: pointer;
    padding: 0.375rem 0.75rem;
    text-transform: uppercase;
    font-family: monospace;
    font-size: 1.5rem;
    text-decoration: none;
    color: white;
  }

  .signIn {
    border: 2px solid transparent;
    border-color: #0466C8;
    border-radius: 1rem;
    transition: background-color 0.3s;
  }

  .signUp {
    background-color: #0466C8;
    border-radius: 1rem;
    color: white;
    transition: background-color 0.3s;
  }
  
  .innerWrapper {
    display: flex;
    justify-content: space-between;
    width: 100%;
    gap: 4rem;
    padding: 0 3rem;
    max-width: 96rem;
  }
  
  .desktopMenuContainer {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
  }
  
  .tabsList {
    position: relative;
    display: flex;
    gap: 2rem;
    font-size: 1.25rem; 
    color: white;
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  .tabItem {
    position: relative;
    z-index: 10;
    cursor: pointer;
    padding: 0.375rem 0.75rem;
    text-transform: uppercase;
    font-family: monospace;
    font-size: 1.5rem;
  }
  
  .link {
    mix-blend-mode: difference;
    text-decoration: none;
    color: inherit;
    border-bottom: 2px solid transparent;
    transition: border-color 0.3s;
  }
  
  .linkActive {
    border-bottom-color: #f97316;
  }
  